Repository polyphony-chat/chorus, pull requests merged in 2025-04, with the labels that each got.

#606 Add user ignore api, update relationship entity
  src/api/users/relationships.rs
  src/types/entities/relationship.rs
  src/types/schema/relationship.rs
Labels: Type: Enhancement, Type: New Feature, Module: API, Type: Breaking Change

#612 Workflows, compliance and security improvements through CI
  .github/workflows/build-test-coverage.yml
  .github/workflows/cargo-doc.yml
  .github/workflows/license-header.yml
  .github/workflows/license-headers.yml
  .github/workflows/rust-compliance.yml
  .github/workflows/rust-security.yml
  .github/workflows/semver-checks.yml
  Cargo.lock
  Cargo.toml
  deny.toml
  semver_release_checks.yml
Labels: Status: Review Needed, Status: Revision Needed, Type: Maintenance

#607 Error overhaul, support ratelimited anonymous requests
  src/api/auth/login.rs
  src/api/auth/register.rs
  src/api/channels/channels.rs
  src/api/channels/messages.rs
  src/api/channels/permissions.rs
  src/api/channels/reactions.rs
  src/api/guilds/guilds.rs
  src/api/guilds/member.rs
  src/api/guilds/roles.rs
  src/api/instance.rs
  src/api/invites/mod.rs
  src/api/policies/instance/instance.rs
  src/api/users/channels.rs
  src/api/users/connections.rs
  src/api/users/guilds.rs
  src/api/users/mfa.rs
  src/api/users/relationships.rs
  src/api/users/users.rs
  src/errors.rs
  src/instance.rs
  src/ratelimiter.rs
  src/types/schema/mfa.rs
  src/types/schema/user.rs
  tests/instance.rs
Labels: Module: API, Type: Breaking Change
